<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">

    <title>DellFashion</title>
</head>
<body>
    <!--Encabezado-->
    <header class="header">
        <div class="logo">
            <img src="../../static/img/img-s.webp" alt="logo">
        </div>
        <h1 class="title">Deel Fashion</h1>   
        <nav class="nav">
            <ul>
                <li><a href="">Catalogo</a></li>
                <li>
                    <a href="">Categorias</a>
                </li>
                <li><a href="">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <!--Section principai-->
    <main class="catalogo">

        <!--Productos mas destacados-->
        <a href="">
            <section class="producto">
                <img src="" alt="tipo de ropa">
                <h3>tipo de ropa</h3>
                <p>Descripcion del producto</p>
                <span class="precio">Precio</span>
                <button class="btn-ver"></button>        
            </section>
        </a>
        <a href="">
            <section class="producto">
                <img src="" alt="tipo de ropa">
                <h3>tipo de ropa</h3>
                <p>Descripcion del producto</p>
                <span class="precio">Precio</span>
                <button class="btn-ver"></button>        
            </section>
        </a>
        <a href="">
            <section class="producto">
                <img src="" alt="tipo de ropa">
                <h3>tipo de ropa</h3>
                <p>Descripcion del producto</p>
                <span class="precio">Precio</span>
                <button class="btn-ver"></button>        
            </section>
        </a>
        <a href="">
            <section class="producto">
                <img src="" alt="tipo de ropa">
                <h3>tipo de ropa</h3>
                <p>Descripcion del producto</p>
                <span class="precio">Precio</span>
                <button class="btn-ver"></button>        
            </section>
        </a>
        <a href="">
            <section class="producto">
                <img src="" alt="tipo de ropa">
                <h3>tipo de ropa</h3>
                <p>Descripcion del producto</p>
                <span class="precio">Precio</span>
                <button class="btn-ver"></button>        
            </section>
        </a>
        <a href="">
            <section class="producto">
                <img src="" alt="tipo de ropa">
                <h3>tipo de ropa</h3>
                <p>Descripcion del producto</p>
                <span class="precio">Precio</span>
                <button class="btn-ver"></button>        
            </section>
        </a>
    </main>
</body>
</html>