* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2a8c0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fdfdfd;
}

.header {
    background-color: #ec268c;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo img {
    width: 40px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav .Categorias {
    display: none;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

.catalogo {
    padding: 2rem;
    background-color: #fafafa;
    display: flex;
}


.producto 



@media (max-width: 768px) {

    .header .title {
        display: none;
    }
    .nav ul {
        gap: 2rem;
    }
}

@media (max-width: 475px) {
    .header .title {
        display: none;
    }

    .nav ul {
        gap: 0.5rem;
    }
}

@media (max-width: 400px) {
    .header .title {
        display: none;
    }

    .nav ul {
        font-size: 11px;
        gap: 0.5rem;
    }
}
